/target
**/*.rs.bk
.vscode
.DS_Store

halo2_proofs/target
benchmarks/guest/target
benchmarks/guest/openvm
*.nsys-rep
*.prof 
*.ncu-rep
benchmarks/guest/Cargo.lock
perf.data
perf.data.old
metrics.json
metrics.md 
metrics.detailed.md
summary.md
metrics.memory.svg
*.json.gz
proof_cache

cache/
.orchestrator/
.remember/
/perf/
